.movie-card {
    margin: 15px;
    width: 200px;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.cards {
    display: flex;
    justify-content: center;
}

.poster{
    width: 200px;
    height: 256px;
    border-radius: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.poster-view {
    width: 200px;
    height: 256px;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
}

.movie-facts {
    display: flex;
}

.year {
    margin-right: 10px;
}

.movie-content {
    display: flex;
}

.m-movie-page {
    display: flex;
}

.prof-discover-link {
    color: white;
    text-decoration: none;
}